*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(0,0,0,0.5), rgb(13, 232, 64) );

}
.header{
    width: 100%;
    height: 100px;
    display: block;
    border: 1px solid black;
    background: linear-gradient(rgba(0,0,0,0.5), rgb(84, 242, 5) );
}
.logo{
    height: 60px;
}
.tex{
    padding-left: 50px;
    margin-top: -40px;

}
.navga{
    float: left;
    margin: 2px;
   
}
.navga li{
    display: inline;
    justify-content: flex-start;
    padding: 10px;
    color: white;
    border-right: 1px solid black;
}
.navga li:last-child{
    border-right: none;
}
.navga a:hover{
    color: rgb(30, 0, 255);
}
.round{
    margin-top: 9px;
    margin-left: 60px;
    border-radius: 5px;
    border: 2px solid black;
}
.left-side{
    float: right;
    height: 50%;
    margin-top: -20px;
}


.banner{
    width: 100%;
    height: 50h;
    
    overflow: hidden;
}
.banner .carsoul{
    width: 100%;
    margin:60px auto 0;
    overflow: visible;
}
.carsoul img{
    margin-top: -50px;
    height: 50vh;
}

.footer-content{
    text-align: center;
    justify-content: baseline;
    padding: auto;
}
/* 2nd Body- part*/
.body-wrapper{
    height: 450px;
    display: inline;
}
.body-wrapper h1{
    text-align: center;
    margin-top: 20px;
    
}
.update-pic{
    margin-top: 30px;
    margin-left: 500px;
}
.updating-pic{ 
    height: 300px;
    width: 550px;
    border-radius: 10px;
}
.main-update-text{
    height: 80px;
}
.update-text {
    align-content: justify;
    text-align: center;
    width: 650px;
    color: rgb(192, 185, 185);
    margin-left: 430px;
}
.body-wrapper button{
    border-radius: 5px;
    border: 1px solid black;
    padding: 10px 20px;
    margin: 11px;
    background-color: rgb(109, 234, 128);
    
}
.body-wrapper button:hover{
    background-color: rgb(71, 19, 240);
    transition: .5s;
    box-shadow: 2px 2px 10px black;
    color: white;
}
.buy-button{
    margin-left: 700px;
}

/* Products*/
.product{
    margin-top: 60px;
}
.main-title{
    color: white;
    margin-left: 700px;
    padding: 10px;
    
}
.cards{
    width: 20%;
    display: inline-block;
    background-color: grey;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px;
    transition: 1s;
}
.cards:hover{
    box-shadow: 2px 2px 10px black;
}
.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 1px solid black;
}
.title{
    text-align: center;
}
.des{
    text-align: center;
    padding: 4px;
}
.cards button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.cards button:hover{
    background-color: black;
    color: white;
    transition: .5s;

}

.main-sec section{
    padding: 10rem 0;
    background-color: #fff;
}
.heading{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}
.heading::after{
    content: "";
    width: 10rem;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}
.card-wrapper{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.card{
    width: 32rem;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2);
}
.card .card-img{
    width: 100%;
    height: 26rem;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 78%, 0 100%);
}
.profile-img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}
.card h1{
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
}
.job-title{
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}
.about{
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color:#333
}
.card .btn{
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
}
.card .btn:hover{
    transform: translateY(0);
    box-shadow: none;
}
.social-media{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}
.social-media i{
    font-size: 3rem;
}
.fa-facebook-square{
    color: #3b5999;
}
.fa-twitter-square{
    color: #55acee;
}
.fa-instagram{
    color: #e6683c;
}

.fa-facebook-square:hover
.fa-twitter-square:hover
.fa-instagram:hover{
    color: #45e19f;
}
@media screen and (min-width: 700px){
    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card{
        margin: 2rem;
    }
    @keyframes fadeIn{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
        .card:nth-child(1){
            
        }
    }
}


